.navbar-brand::before {
    position: relative;
    top: 1px;
    display: inline-block;
    content: ' ';
    background-size: 141px 23px;
    height: 23px;
    width: 141px;
    background-image: url("../icons/logo_motorcycles.svg")
}
